@use "global" as *;

.p-news__title {
  text-align: center;
  @include mq(md) {
    text-align: left;
    line-height: 1.8;
  }
}

.p-news__text {
  font-size: rem(16);
  font-weight: 400;
  line-height: calc(32 / 16);
  color: $gray;
  margin-top: rem(27);
  @include mq(md) {
    font-size: rem(36);
    line-height: calc(50 / 36);
    text-align: left;
    margin-top: rem(80);
  }
}

.p-news__cards {
  margin-top: rem(29);
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(33);
    margin-top: rem(80);
  }
}

.p-news__card + .p-news__card {
  margin-top: rem(25);
  @include mq(md) {
    margin-top: 0;
  }
}

.p-news__btn {
  text-align: center;
  margin-top: rem(30);
  @include mq(md) {
    text-align: right;
    margin-top: rem(80);
  }
}
